:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    --system-accent-color: accentcolor;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: var(--k-background-color);
    user-select: none;
    -webkit-user-select: none;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

#root,
main {
    height: 100%;
}

.grid {
    display: grid;
}

.row {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.col {
    flex: 1;
}

.gap2 {
    gap: var(--k-medium-spacing);
}

h2 {
    margin: 0 0 0.25em 0;
}

h2 {
    margin: 0 0 0.25em 0;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;

    img,
    i {
        width: 16px;
        height: 16px;
    }

    &:disabled img,
    &:disabled i {
        filter: invert(50%);
    }
}

.checkbox-container {
    display: flex;
    gap: var(--k-medium-spacing);
    align-items: center;
}
